# osx
.DS_Store

# IDE
.project

# build
dist
*.log
node_modules
bower_components
doc

# examples
*.phar
*.lock
composer.json
php.ini
vendor

# compiled output
/tmp

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
